<!-- CANNOT USE PARTIAL HERE BECAUSE IT MESSES UP THE JS SCRIPTS -->
<div class="container">
  <h1>Edit <%= @monster.name %></h1>
  <div class="row">
    <div class="col-md">
      <%= render partial: "form", locals: {monster: @monster} %>
    </div>

    <div class="col-md">
      <%= render partial: "portrait", locals: {monster: @monster, draggable: true} %>
    </div>
  </div>
</div>
