<div class="home">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Monster Mash</h1>
    <p class="lead">Mix and match different monster body parts to create your own monster!</p>
    <div class="col-md-4">
      <%= link_to "View Monsters", monsters_path, class: "btn btn-lg btn-secondary btn-block" %>
    </div>
</div>
