<div class="container">
  <h1>Create New Monster</h1>
  <div class="row">
    <div class="col-md">
      <%= render partial: "form", locals: {monster: @monster} %>
    </div>

    <div class="col-md">
      <%= render partial: "portrait", locals: {monster: @monster, draggable: true} %>
    </div>
  </div>
</div>
