/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";


.monster-canvas {
  position: relative;
  width: 400px;
  height: 400px;
}

.body-part {
  position: absolute;
}

.head {
  width: 125px;
  height: 75px;
  background-color: rgb(67, 52, 153);
  border-radius: 150px 150px 10px 10px;
  border: 5px solid rgb(67, 52, 153);
  z-index: 3;
}

.torso {
  width: 175px;
  height: 135px;
  background-color: rgb(52, 71, 153);
  border-radius: 125px;
  border: 5px solid rgb(52, 71, 153);
  z-index: 2;
}

.leg {
  width: 125px;
  height: 100px;
  background-color: rgb(124, 52, 153);
  border: 5px solid rgb(124, 52, 153);
  z-index: 1;
}