/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
//*= require jquery-ui/draggable
//*= require jquery-ui/slider

@import "monsters";
@import "bootstrap";

.home {
	background-image: url("background.svg");
	background-size: cover;
	background-repeat: no-repeat;
  min-height: 500px;
}

.home {
  margin-top: -24px;
	min-height: 1050px;
}

body {
  margin-top: 80px;
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 1px;
	/* The image used */
	background-image: url("page-background.svg");
	min-height: 600px;
	/* Full height */


	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#top-padding {
  padding-top: 50px;
}

.card {
  margin: 2em;
}
.nav-bar-color {
	background-color: #DCF2FD;
}
