// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.monsters-show {
  font-family: "Londrina Solid", sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.monster-canvas {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid red;
}

.body-part {
  position: absolute;
  width: 33%;
  height: 33%;
}

.head {
  z-index: 3;
}

.torso {
  z-index: 2;
}

.leg {
  z-index: 1;
}

.form {
  display: flex;
}

.form-block {
  padding: 1em;
}

.slider {
  display: inline-block;
  margin-right: 0.5em;
}
