// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  margin: 0 auto;
}

.monster-canvas {
  position: relative;
}

.monster-canvas.large {
  width: 400px;
  height: 400px;
}

.monster-canvas.small {
  width: 200px;
  height: 200px;
}

.preview-container {
  display: inline-block;
  border: 2px solid rgba(255, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0;
  margin: 0;
}

.body-part {
  position: absolute;
  width: 33%;
  height: 33%;
}

.face {
  z-index: 4
}

.head {
  z-index: 3;
}

.torso {
  z-index: 2;
}

.leg {
  z-index: 1;
}

.forms {
  display: flex;
  flex-flow: column;
}

.form-block {
  padding: 1em;
}

.draggable {
  cursor: pointer;
}

.draggable:hover {
  border: 1px solid rgba(255, 0, 0, 0.35)
}

.slider {
  display: inline-block;
  min-width: 50%;
}

.icon-button {
  font-size: 1.3em;
}

label {
  margin-right: 0.5em;
}

.body-container {
  display: inline-block;
}

.contest {
  padding: 1em;
  background-image: url("contest-bg.svg");
  background-size: contain;
	background-repeat: no-repeat;
}

.vote-select {
  height: 38px;
}

.winner-text {
  font-size: 2em;
  color: white;
  text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}